flows.json
[{"id":"dc910925.b87388","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cde3259f.b8ce48","type":"ui_tab","z":"","name":"Registeration page","icon":"dashboard","disabled":false,"hidden":false},{"id":"14e2c9ff.6376c6","type":"ui_group","z":"","name":"Reg form","tab":"cde3259f.b8ce48","order":1,"disp":true,"width":"6","collapse":false},{"id":"59cd20a2.cc3ae","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Century Gothic,CenturyGothic,AppleGothic,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Century Gothic,CenturyGothic,AppleGothic,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Century Gothic,CenturyGothic,AppleGothic,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1d82dc7d.d45c14","type":"ui_tab","z":"","name":"Login page","icon":"dashboard","disabled":false,"hidden":false},{"id":"4fea58d5.1c1828","type":"ui_group","z":"","name":"Login form","tab":"1d82dc7d.d45c14","order":1,"disp":true,"width":"6","collapse":false},{"id":"22bbd0d9.3895a","type":"ui_group","z":"","name":"customer help","tab":"cde3259f.b8ce48","order":2,"disp":true,"width":"6","collapse":false},{"id":"524d95e1.8d54dc","type":"ui_tab","z":"","name":"customer help","icon":"dashboard","disabled":true,"hidden":false},{"id":"4549b3be.a5f74c","type":"ui_group","z":"","name":"bot","tab":"524d95e1.8d54dc","order":1,"disp":true,"width":"6","collapse":false},{"id":"a0ab6382.844e","type":"ui_tab","z":"","name":"customerhelp","icon":"dashboard","disabled":false,"hidden":false},{"id":"316da17.913605e","type":"ui_group","z":"","name":"bot","tab":"a0ab6382.844e","order":1,"disp":true,"width":"6","collapse":false},{"id":"fe341a6b.080af8","type":"ui_form","z":"dc910925.b87388","name":"","label":"","group":"14e2c9ff.6376c6","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email ","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":210,"y":140,"wires":[["bb04d77b.1074c8","d9895d9c.2280b"]]},{"id":"bb04d77b.1074c8","type":"debug","z":"dc910925.b87388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":40,"wires":[]},{"id":"d9895d9c.2280b","type":"function","z":"dc910925.b87388","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":180,"wires":[["4601136a.09365c"]]},{"id":"4601136a.09365c","type":"cloudant out","z":"dc910925.b87388","name":"cloudtant","cloudant":"","database":"sample","service":"node-red-hlbdv-2020--cloudant-1597403146795-13031","payonly":true,"operation":"insert","x":720,"y":180,"wires":[]},{"id":"491aa975.8b1438","type":"ui_form","z":"dc910925.b87388","name":"","label":"","group":"4fea58d5.1c1828","order":0,"width":0,"height":0,"options":[{"label":"Enter Email id","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password ","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":320,"wires":[["c5eaa98b.152928"]]},{"id":"c5eaa98b.152928","type":"function","z":"dc910925.b87388","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":320,"wires":[["a2d20417.a4d608"]]},{"id":"a2d20417.a4d608","type":"function","z":"dc910925.b87388","name":"","func":"var emailid=gloal.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":320,"wires":[["4d873a1b.fdb9a4"]]},{"id":"4d873a1b.fdb9a4","type":"cloudant in","z":"dc910925.b87388","name":"","cloudant":"","database":"sample","service":"node-red-hlbdv-2020--cloudant-1597403146795-13031","search":"_idx_","design":"user","index":"user","x":540,"y":320,"wires":[["848caaa9.44b248"]]},{"id":"848caaa9.44b248","type":"function","z":"dc910925.b87388","name":"","func":"if(msg.payload[0].password==global.get('password')){\n    msg.payload='login successful';\n}\nelse{\n    msg.payload='login failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":320,"wires":[["3520137d.2f305c"]]},{"id":"3520137d.2f305c","type":"ui_text","z":"dc910925.b87388","group":"4fea58d5.1c1828","order":1,"width":0,"height":0,"name":"login form","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":320,"wires":[]},{"id":"12385a8f.e2c8e5","type":"ui_form","z":"dc910925.b87388","name":"","label":"","group":"316da17.913605e","order":0,"width":0,"height":0,"options":[{"label":"user input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":420,"wires":[["793468e5.5bda78"]]},{"id":"793468e5.5bda78","type":"function","z":"dc910925.b87388","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":420,"wires":[["e1643812.3dc318"]]},{"id":"f1a01f4e.f3fdd","type":"debug","z":"dc910925.b87388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":420,"wires":[]},{"id":"e1643812.3dc318","type":"watson-conversation-v1","z":"dc910925.b87388","name":"","workspaceid":"085a72b9-c536-43f3-9d33-5aa36ddeb26a","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":400,"y":420,"wires":[["f1a01f4e.f3fdd","67ddd17a.f0ab9"]]},{"id":"67ddd17a.f0ab9","type":"function","z":"dc910925.b87388","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":480,"wires":[["9bc4b60b.47b008"]]},{"id":"9bc4b60b.47b008","type":"ui_text","z":"dc910925.b87388","group":"316da17.913605e","order":1,"width":"6","height":"6","name":"","label":"bot response:","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":480,"wires":[]}]